# Core service offerings
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLOUD_VISION_KEY=
GEMINI_GENERATIVE_API_KEY=

# stripe API keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_ACCOUNT_ID=
STRIPE_SECRET_KEY=
STRIPE_ACCOUNT_ID=
STRIPE_WEBHOOK_SECRET=
STRIPE_CONNECT_WEBHOOK_SECRET=

# # ── TCG / Card APIs ───────────────────────────────────────────────────────────
PSA_API_TOKEN=
NEXT_PUBLIC_API_SECRET=



